<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.spoc.sys.spocsys.dao.CourseLabelMapper">
    <resultMap id="BaseResultMap" type="com.spoc.sys.spocsys.entity.CourseLabel">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="label_name" property="labelName" jdbcType="VARCHAR"/>
        <result column="lable_desc" property="lableDesc" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, label_name, lable_desc, create_time
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from course_label
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from course_label
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.spoc.sys.spocsys.entity.CourseLabel">
    insert into course_label (id, label_name, lable_desc, 
      create_time)
    values (#{id,jdbcType=INTEGER}, #{labelName,jdbcType=VARCHAR}, #{lableDesc,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="com.spoc.sys.spocsys.entity.CourseLabel">
        insert into course_label
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="labelName != null">
                label_name,
            </if>
            <if test="lableDesc != null">
                lable_desc,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="labelName != null">
                #{labelName,jdbcType=VARCHAR},
            </if>
            <if test="lableDesc != null">
                #{lableDesc,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.spoc.sys.spocsys.entity.CourseLabel">
        update course_label
        <set>
            <if test="labelName != null">
                label_name = #{labelName,jdbcType=VARCHAR},
            </if>
            <if test="lableDesc != null">
                lable_desc = #{lableDesc,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.spoc.sys.spocsys.entity.CourseLabel">
    update course_label
    set label_name = #{labelName,jdbcType=VARCHAR},
      lable_desc = #{lableDesc,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>